<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Tu vocabulario</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/materialize/materialize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}"/>
	<link rel="icon" href="{% static 'mainapp/images/icon.png' %}" sizes="32x32"/>
</head>
<body class="account-page">
	<ul id="settings-dropdown" class="dropdown-content">
		<li><a href="/user/logout">Выйти</a></li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul class="right">
					<li>
					    <a href="/">
					        <i class="material-icons left">book</i>
					        <span class="hide-on-small-only">Словарь</span>
					    </a>
					</li>
					<li>
						<a href="/exercises/">
							<i class="material-icons left">fitness_center</i>
							<span class="hide-on-small-only">Упражнения</span>
						</a>
					</li>
					<li>
						<a class="dropdown-trigger" data-target="settings-dropdown">
							<i class="material-icons">settings</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<section class="dictionary-main-content container">
		<form id="search-words-form">
			{% csrf_token %}
		    <div class="input-field">
			    <input id="search-words-input" type="text" name="searchWordField"/>
			    <label for="search-words-input">Введите слово</label>

			</div>
			<a id="search-words-submit" class="waves-effect waves-light btn">
				<i class="material-icons hide-on-med-and-up">search</i>
				<span class="hide-on-small-only">Найти</span>
			</a>
		</form>

        <div id="translation-card" class="hide"></div>

		<h2 class="red-text text-darken-4">Ваши слова</h2>
		<div id="dictionary-table">
			{% csrf_token %}
		</div>
		<div id="deleting-word-confirm" class="modal">
		    <div class="modal-content">
		      <p>Вы точно хотите удалить слово <span class="deleting-word"></span> из своего словаря?</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Нет</a>
		      <a id="deleting-word-confirm-btn" href="#!" class="modal-close waves-effect waves-green btn-flat">Да</a>
		    </div>
		</div>
	</section>
		<div class="preloader-overlay hide">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
		    <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	 </div>
	<script src="{% static 'mainapp/js/vendor/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/vendor/materialize.min.js' %}"></script>
	<script src="{% static 'mainapp/js/account/script.js' %}"></script>
</body>