<ul class="collection with-header">
	<a href='#' class="close-translation red-text text-darken-4">
		<i class="material-icons">close</i>
	</a>
    {% csrf_token %}
    <li class="collection-header"><h4>
        {{ content.original }}
        {% if content.sound != '' %}
            <audio src="http://{{request.META.HTTP_HOST }}{{ content.sound }}"></audio>
            <i class="icon-sound material-icons">volume_up</i>
        {% else %}
            <i class="icon-sound-off material-icons">volume_off</i> 
        {% endif %}
    </h4></li>
    {% for translation in content.translations %}
    	<a class="collection-item add-to-dictionary-link" href="http://{{request.META.HTTP_HOST }}/add-to-dictionary/{{ translation.translationId }}">
    		<i class="material-icons left">add</i>
    		{{ translation.translation }}
    	</a>
    {% endfor %}
  </ul>