<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Упражнения | Перевод</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/materialize/materialize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}"/>
	<link rel="icon" href="{% static 'mainapp/images/icon.png' %}" sizes="32x32"/>
</head>
<body>
	{% csrf_token %}
	<ul id="settings-dropdown" class="dropdown-content">
		<li><a href="/user/logout">Выйти</a></li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul class="right">
					<li>
					    <a href="/">
					        <i class="material-icons left">book</i>
					        <span class="hide-on-small-only">Словарь</span>
					    </a>
					</li>
					<li>
						<a href="/exercises/">
							<i class="material-icons left">fitness_center</i>
							<span class="hide-on-small-only">Упражнения</span>
						</a>
					</li>
					<li>
						<a class="dropdown-trigger" data-target="settings-dropdown">
							<i class="material-icons">settings</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div id="exercises-container" class="container">
		<div id="word-card" class="card">
			<div id="word-card-content" class="card-content">
				{% csrf_token %}
			</div>
			<div class="card-action">
				<a id="get-next-card-btn" class="waves-effect waves-light btn right hide" href="#">Следующее</a>
				<a id="return-btn" href="/exercises/" class="waves-effect waves-light btn hide" href="#">Завершить</a>
			</div>
		</div>
	</div>
		<div class="preloader-overlay hide">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-red-only">
		    <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	 </div>
	<script src="{% static 'mainapp/js/vendor/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/vendor/materialize.min.js' %}"></script>
	<script src="{% static 'mainapp/js/exercises/translation/script.js' %}"></script>
</body>
</html>