<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Упражнения</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/materialize/materialize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}"/>
	<link rel="icon" href="{% static 'mainapp/images/icon.png' %}" sizes="32x32"/>
</head>
<body>
	<ul id="settings-dropdown" class="dropdown-content">
		<li><a href="/user/logout">Выйти</a></li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul class="right">
					<li>
					    <a href="/">
					        <i class="material-icons left">book</i>
					        <span class="hide-on-small-only">Словарь</span>
					    </a>
					</li>
					<li>
						<a href="/exercises/">
							<i class="material-icons left">fitness_center</i>
							<span class="hide-on-small-only">Упражнения</span>
						</a>
					</li>
					<li>
						<a class="dropdown-trigger" data-target="settings-dropdown">
							<i class="material-icons">settings</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<section class="exercises-links">
		<div class="exercises-links-container container">
			{% for exercise in exercises %}
				<a href="{{ exercise.link }}" class="exercises-link card hoverable">
					<div class="card-content white-text red darken-4">
						<span class="card-title">{{ exercise.header }}</span>
						<p>{{ exercise.description }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
	<script src="{% static 'mainapp/js/vendor/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/vendor/materialize.min.js' %}"></script>
</body>
</html>