.index-page {
	background: url('../images/spanish.jpg');
	height: 100vh;
}

.page-wrapper {
	background: linear-gradient(rgba(170,21,27, 0.8) 0%, rgba(170,21,27, 0.8) 25%, rgba(241,191,0, 0.8) 25%, rgba(241,191,0, 0.8) 75%, rgba(170,21,27, 0.8) 75%, rgba(170,21,27, 0.8) 100%);
	height: 100vh;
	width: 100%;
}

.tabs-wrapper {
	width: 350px;
	min-height: 374px;
}

.content-wrapper {
	width: 100%;
	padding: 0 15px;
}

@media(max-width: 600px) {
	.welcome-header {
		font-size: 3rem;
	}

	.account-page .nav-wrapper .material-icons {
		margin-right: 0;
	}
}

@media(max-width: 370px) {
	.tabs-wrapper {
		width: 300px;
	}
}